on post-fs-data
    # for primary panel
    chown system system /sys/class/mi_display/disp-DSI-0/wp_info
    chmod 0444 /sys/class/mi_display/disp-DSI-0/wp_info
    chown system system /sys/class/mi_display/disp-DSI-0/brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-0/brightness_clone
    chown system system /sys/class/mi_display/disp-DSI-0/max_brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-0/max_brightness_clone
    # for secondary panel
    chown system system /sys/class/mi_display/disp-DSI-1/wp_info
    chmod 0444 /sys/class/mi_display/disp-DSI-1/wp_info
    chown system system /sys/class/mi_display/disp-DSI-1/brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-1/brightness_clone
    chown system system /sys/class/mi_display/disp-DSI-1/max_brightness_clone
    chmod 0664 /sys/class/mi_display/disp-DSI-1/max_brightness_clone
    # display backlight sysfs node for ddsi and dp
    chown system system /sys/class/backlight/panel2-backlight/brightness
    chown system system /sys/class/backlight/panel2-backlight/max_brightness
    chown system system /sys/class/backlight/panel3-backlight/brightness
    chown system system /sys/class/backlight/panel3-backlight/max_brightness
    chown system system /sys/class/backlight/DP1-backlight/brightness
    chown system system /sys/class/backlight/DP1-backlight/max_brightness
    chown system system /sys/class/backlight/DP2-backlight/brightness
    chown system system /sys/class/backlight/DP2-backlight/max_brightness

on property:persist.sys.parts.pen=*
    exec /system/bin/xiaomi-pen ${persist.sys.parts.pen}

service touch_report_debug /odm/bin/touch_report_debug
    class main
    user root
    group system
    oneshot
